name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags: [ v** ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '30 12 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  typos:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Spelling (typos)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: crate-ci/typos@master

  reuse:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Licensing (REUSE)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: fsfe/reuse-action@v5

  ruff:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Linting (ruff)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v2
    - uses: Swatinem/rust-cache@v2
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
        cache: 'pip'
        cache-dependency-path: '.ci/requirements-test.txt'
    - name: Run ruff
      run: |
        just python/ci-install ../.venv && source .venv/bin/activate

        just python/ruff
        just ruff

  clippy:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Linting (clippy)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v2
    - uses: Swatinem/rust-cache@v2
    - run: |
        just clippy
        just python/clippy

  ty:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Annotations (ty)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v2
    - uses: Swatinem/rust-cache@v2
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
        cache: 'pip'
        cache-dependency-path: '.ci/requirements-test.txt'
    - name: Main Script
      run: |
        just python/ci-install ../.venv && source .venv/bin/activate

        just python/ty

  rustest:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Test (Rust)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v2
    - uses: Swatinem/rust-cache@v2
    - run: |
        just build
        just test

  pytest:
    name: Test (pytest-${{ matrix.os }}-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
    - uses: actions/checkout@v3
    - uses: extractions/setup-just@v2
    - uses: Swatinem/rust-cache@v2
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: '.ci/requirements-test.txt'
    - name: Run tests
      run: |
        just python/ci-install ../.venv && source .venv/bin/activate

        just python/test
